.customImageMeetingOfficeOutside {
    /* WhatsApp Image 2024-08-07 at 16.03.56 */

    position: relative;
    width: 874px !important;
    height: 582px !important;
    left: 522px !important;
    top: 183px !important;


}

.customImageMeetingOffice {
    /* WhatsApp Image 2024-08-07 at 16.03.28 */

    position: relative;
    width: 875px;
    height: 582px;
    left: 57px;
    top: 339px;

}

.customImageAllWorkers {
    /* WhatsApp Image 2024-08-07 at 16.04.31 */

    position: relative;
    width: 875px;
    height: 582px;
    left: 283px;
    top: 140px;

}

