.customSubtitle {
    /* צבע חום על בז- הנבחר 3 */

    /* position: absolute;
    width: 987px;
    height: 229px;
    left: 218px;
    top: 679px; */

    /* background: url(צבע חום על בז- הנבחר.png); */

}