.customContactDetails {
    /* Rectangle 73 */

    position: relative !important;
    /* Rectangle 73 */
    /* Rectangle 73 */

    position: absolute;
    width: 1440px;
    height: 217px;
    left: 0px;

    background: #765330;


}

.customLogoSmall {
    /* Group 33 */
    /* Group 33 */

    position: absolute;
    width: 266.5px !important;
    height: 115.33px !important;
    left: 1158px !important;
    top: 51px !important;
}