.customFullProfile {
    display: 'flex' !important;
    text-align: 'center' !important;
    justify-content: 'center' !important;
    align-items: 'center' !important;

}


.customFullProfileImageProfile {

    position: absolute;
    width: 459px;
    height: 689px;
    left: 147px;
    top: 205px;

    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    /* identical to box height */
    text-align: right;

    color: #765330;

    margin-left: 15% !important;
    margin-right: 10% !important;


}



.customFullProfileNameHeb {
    /* יחיאל רכטשאפן */

    /* יחיאל רכטשאפן */

    position: absolute;
    width: 398px;
    height: 77px;
    left: 873px;
    top: 205px;

    font-family: 'Greta Text H+L' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 64px !important;
    line-height: 77px !important;
    /* identical to box height */
    text-align: right !important;

    color: #765330 !important;

    margin-left: 15% !important;
    margin-right: 10% !important;


}

.customFullProfileSubNameHeb {
    /* עו”ד (רו”ח) */

    position: absolute;
    width: 124px;
    height: 21px;
    left: 1147px;
    top: 276px;

    font-family: 'Greta Text H+L';
    font-style: normal;
    font-weight: 680;
    font-size: 24px;
    line-height: 29px;
    text-align: right;

    color: #765330;

    margin-left: 15% !important;
    margin-right: 10% !important;
}

.customFullProfile_textAboutPeople {
    /* הרב יחיאל רכטשאפן הינו בוגר הפקולטה למשפטים והפקולטה לניהול באוניברסיטת תל אביב. ליחיאל רישיון עריכת דין ורישיון ראיית חשבון. יחיאל עוסק ביעוץ מיסוי מקרקעין מעל 25 שנה, והיה ראש תחום מיסוי מקרקעין בפירמת ראית החשבון ארנסט יאנג ישראל במשך כ-11 שנים. בעברו יחיאל היה מרצה ומתרגל של דיני מיסוי מקרקעין במכללות רמת גן, פתח תקוה, שערי משפט, והמכללה למינהל ראשל"צ ואף פרסם מספר מאמרים מקצועיים, חלקם היוו בסיס לפסיקה מאוחרת. יחיאל מומחה בחישובי המס ובייצוג יזמים ולקוחות פרטיים אל מול שלטונות המס בפרוייקטים יזמיים בעיקר התחדשות עירונית, וכן בגיבוש תכנוני-מס יצירתיים וארוכי טווח לפתרונות מס בעסקאות מורכבות, מתוך ראייה רוחבית של כלל צרכי הלקוח. ליחיאל הסמכה לרבנות והוא שימש כרב צבאי (במיל') בדרגת רב סרן. */

    /* הרב יחיאל רכטשאפן הינו בוגר הפקולטה למשפטים והפקולטה לניהול באוניברסיטת תל אביב. ליחיאל רישיון עריכת דין ורישיון ראיית חשבון. יחיאל עוסק ביעוץ מיסוי מקרקעין מעל 25 שנה, והיה ראש תחום מיסוי מקרקעין בפירמת ראית החשבון ארנסט יאנג ישראל במשך כ-11 שנים. בעברו יחיאל היה מרצה ומתרגל של דיני מיסוי מקרקעין במכללות רמת גן, פתח תקוה, שערי משפט, והמכללה למינהל ראשל"צ ואף פרסם מספר מאמרים מקצועיים, חלקם היוו בסיס לפסיקה מאוחרת. יחיאל מומחה בחישובי המס ובייצוג יזמים ולקוחות פרטיים אל מול שלטונות המס בפרוייקטים יזמיים בעיקר התחדשות עירונית, וכן בגיבוש תכנוני-מס יצירתיים וארוכי טווח לפתרונות מס בעסקאות מורכבות, מתוך ראייה רוחבית של כלל צרכי הלקוח. ליחיאל הסמכה לרבנות והוא שימש כרב צבאי (במיל') בדרגת רב סרן. - */

    position: absolute !important;
    width: 588px !important;
    height: 849px !important;
    left: 683px !important;
    top: 365px !important;

    font-family: 'Greta Text H+L' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    text-align: right !important;

    color: #765330 !important;

    direction: rtl;
    /* כיוון הטקסט מימין לשמאל */
    unicode-bidi: plaintext;
    /* טיפול בכיווניות של טקסטים מורכבים */

    margin-left: 15% !important;
    margin-right: 10% !important;
}