.customNameEn {
    /* Aharon Berger */
    /* Yechiel Rechtschaffen */


    width: 461px !important;
    height: 48px !important;
    left: 143px !important;
    top: 718px !important;

    font-family: 'Greta Text H+L' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 48px !important;
    line-height: 58px !important;

    color: #765330 !important;




}


.customNameHeb {
    /* אהרון ברגר */


    /* אהרון ברגר */

    width: 398px !important;
    height: 77px !important;
    left: 935px !important;
    top: 232px !important;

    font-family: 'Greta Text H+L' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 64px !important;
    line-height: 77px !important;
    /* identical to box height */
    text-align: right !important;

    color: #765330 !important;




}

.customSubNameHeb {
    /* עו”ד (רו”ח) */


    /* עו”ד (רו”ח) */

    height: 21px !important;
    left: 1222px !important;
    top: 305px !important;

    font-family: 'Greta Text H+L' !important;
    font-style: normal !important;
    font-weight: 680 !important;
    font-size: 24px !important;
    line-height: 29px !important;
    text-align: right !important;

    color: #765330 !important;





}

.custom_textAboutPeople {
    /* אהרון ברגר הינו עו"ד ור"ח. שימש בתפקידים מרובים ברשות המסים משך כ-15 שנה וכיהן בתפקידים שונים, שהאחרון שבהם כמנהל תחום בכיר (שומה ובקורת – מע"מ ומס קניה) בהנהלת רשות המסים. אהרן מומחה בייצוג לקוחות בבתי משפט מול רשות המסים בהיבטים אזרחיים ופליליים. */



    /* אהרון ברגר הינו עו"ד ור"ח. שימש בתפקידים מרובים ברשות המסים משך כ-15 שנה וכיהן בתפקידים שונים, שהאחרון שבהם כמנהל תחום בכיר (שומה ובקורת – מע"מ ומס קניה) בהנהלת רשות המסים. אהרן מומחה בייצוג לקוחות בבתי משפט מול רשות המסים בהיבטים אזרחיים ופליליים. */

    /* אהרון ברגר הינו עו"ד ור"ח. שימש בתפקידים מרובים ברשות המסים משך כ-15 שנה וכיהן בתפקידים שונים, שהאחרון שבהם כמנהל תחום בכיר (שומה ובקורת – מע"מ ומס קניה) בהנהלת רשות המסים. אהרן מומחה בייצוג לקוחות בבתי משפט מול רשות המסים בהיבטים אזרחיים ופליליים. */


    width: 404px !important;
    height: 360px !important;
    left: 929px !important;
    top: 387px !important;

    font-family: 'Greta Text H+L' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    text-align: right !important;

    color: #765330 !important;



    direction: rtl !important;
    /* כיוון הטקסט מימין לשמאל */
    unicode-bidi: plaintext !important;
    /* טיפול בכיווניות של טקסטים מורכבים */
}

.custom_AdvCPA {
    /* Adv. (CPA) */


    /* Adv. (CPA) */

    width: 172px !important;
    height: 38px !important;
    left: 143px !important;
    top: 773px !important;

    font-family: 'Greta Text H+L' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 36px !important;
    line-height: 43px !important;

    color: #765330 !important;







}

.customImageProfileLogo {
    position: relative;
    /* מיקום יחסי */
    left: 83px;
    /* התאמת המיקום האופקF - תנועה שמאלה */
    top: -72px;
}

.CustomTextContinueReading {
    /* להמשך קריאה */


    width: 404px !important;
    left: 929px !important;


    font-family: 'Greta Text H+L' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    text-align: right !important;

    color: #765330 !important;
}


.customImageProfile {
    /* אהרן ברגר 1 */


    width: 402px;
    height: 567px;
    left: 472px;
    top: 296px;

}