.customName {
    /* Aharon Berger */
    font-style: normal;
    

    color: #765330;

    position: relative; /* מיקום יחסי */
    top: -72px;

    width: 395px; /* רוחב אלמנט */
    height: 77px; /* גובה אלמנט */


}

.custom_AdvCPA {
    /* Adv. (CPA) */

    font-family: 'Greta Text H+L';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #765330;
    position: relative; /* מיקום יחסי */
    top: -72px;


}

.customImageProfileLogo{
    position: relative; /* מיקום יחסי */
    left: 120px; /* התאמת המיקום האופקF - תנועה שמאלה */ 
    top: -72px;
}