.customAccessibilityStatement {
    /* הצהרת נגישות אתר אינטרנט נגיש הוא אתר המאפשר לאנשים עם מוגבלות ולאנשים מבוגרים לגלוש באותה רמה של יעילות והנאה ככל הגולשים מן המניין. כ- 20 עד 25 אחוזים מהאוכלוסיה נתקלים בקשיי שימוש באינטרנט ועשויים להיטיב מתכני אינטרנט נגישים יותר, כך על פי מחקר שנערך בשנת 2003 ע”י חברת מייקרוסופט. חברתנו מאמינה ופועלת למען שיוויון הזדמנויות במרחב האינטרנטי לבעלי לקויות מגוונות ו/או המסתייעים בטכנולוגיות עזר לשימוש במחשבים. נגישות האתר האתר נבנה בהתאם לתקנות שוויון זכויות לאנשים עם מוגבלות (התאמות נגישות לשירות), תשע"ג-2013 ולתקן ישראלי 5568 בהתאם להנחיות W3C's Web Content Accessibility Guidelines 2.0, ברמת נגישות AA. האתר נבדק באמצעות קורא המסך JAWS ודפדפן כרום. כמו כן, מותאם לתצוגה בדפדפנים הנפוצים ולשימוש בטלפון הסלואלרי. אמצעי הנגישות באתר באתר קיימים אמצעי הנגישות האלה: אפשרות לש​ימוש מלא על ידי אנשים עם עיוורון באמצעות תוכנה לקריאת מסך. אפשרות לגלוש באתר באמצעות שימוש במקלדת או טכנולוגיה מסייעת אחרת: לחיצה חוזרת ונשנית על מקש ה-TAB מעבירה את הסמן בין הקישורים השונים, לחיצה על מקש ENTER מפעילה את הקישור. אמצעי הניווט וההתמצאות באתר עקביים נוחים לשימוש. תכני האתר כתובים בשפה בהירה ומאורגנים היטב באמצעות כותרות ורשימות. העיצוב מותאם לאנשים עם ליקוי ראייה או עיוורון צבעים. האתר לא מכיל הבהובים ותוכן בתנועה (אנימציות, טקסט נע). אם יש תוכן כזה, קיימת אפשרות לעצור אותו. פניות בנושא נגישות האתר אנו עושים מאמצים לתחזק את האתר ברמת נגישות גבוהה. אם נתקלתם בבעיה של נגישות באתר, אם יש לכם שאלה או בקשה בנושא נגישות, נשמח אם תעדכנו אותנו לפי הפרטים בהמשך. בפנייה נשמח אם תפרטו ככל הניתן את הבעיה בה נתקלתם, כתובת העמוד, המכשיר והדפדפן בו אתם משתמשים, והאם אתם משתמשים בטכנולוגיה מסייעת כלשהי. במידה ומצאתם רכיב או עמוד שאינו נגיש באתר נשמח אם תיצרו אתנו קשר ונדאג לטפל בבעיה בהקדם האפשרי. מייל: BGR@gmail.com טלפון: 972.3.6544.303+ - */

    position: absolute;
    width: 633px !important;
    height: 2648px !important;
    left: 714px !important;
    top: 151px !important;

    font-family: 'Greta Text H+L' !important;
    font-style: normal !important;
    font-weight: 680 !important;
    font-size: 48px !important;
    line-height: 58px !important;
    text-align: right !important;

    color: #765330 !important;


}